body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#main {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 95%;
    height: 95%;
    font-family: Titillium Web;
}

svg {
    height: 60vh;
    width: 100%;
}

rect {
    stroke-width: 0.1%;
}

line {
    stroke: darkslateblue;
    stroke-width: 0.5;
    stroke-linecap: square;
}

#maze-controls {
    display: flex;
    flex-flow: row;
    width: 50vh;
    justify-content: space-between;
}

#maze-config {
    display: flex;
    flex-flow: column;
}

#height-config {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: start;
    width: 150px;
}

#width-config {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: start;
    width: 150px;
}

#generator-config {
    display: flex;
    flex-flow: column;
}

#solver-config {
    display: flex;
    flex-flow: column;
}

#solver-config h4 {
    margin: 0;
    font-size: small;
}

#start-finish-config {
    display: flex;
    flex-flow: column;
    text-align: center;
}

#starting-coord-config {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-bottom: 12px;
}

#finishing-coord-config {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

h2 {
    text-align: center;
}

select {
    width: 180px;
    padding: 4px;
    margin: 10px;
    text-align: center;
    font-family: "Titillium Web";
}

input {
    width: 45px;
    padding: 4px;
    margin: 10px;
    font-family: "Titillium Web";
}

button {
    width: 180px;
    padding: 4px;
    margin: 10px;
    font-family: "Titillium Web";
}